<!-- the password reset page -->
{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
      <p class="centertext">Please enter (and confirm) your new password.</p>
        <!-- the actual form to reset the user's password -->
        <form action="" method="post">
        {% csrf_token %}
          <table>
          	<tr>
            	<td>{{ form.new_password1.errors }}
								<!-- the new password label -->
              	<label for="id_new_password1">New password:</label></td>
								<!-- the new password input box -->
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
              <td>{{ form.new_password2.errors }}
								<!-- the password confirm label -->
                <label for="id_new_password2">Confirm password:</label></td>
								<!-- the password confirm label -->
              	<td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
            	<td></td>
							<!-- put the Submit button in a div for easier css styling -->
							<div class="button">
              	<td><input type="submit" value="Change my password"></td>
							</div>
            </tr>
        	</table>
        </form>
    		{% else %}
        	<h1>Password reset failed</h1>
					<!-- any password change attempt fails will make this message show up -->
        	<p class="centertext">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
